*{
	padding:0;
	margin:0;
}
a{
	text-decoration: none;
}
section{
	width: 1000px;
	height: 570px;
	margin:0 auto;
	/*background: red;*/
}
#text{
	width: 1000px;
	padding-top: 60px;
	padding-bottom: 20px;
	/*background: yellow;*/
	border-bottom: 1px solid #ccc;
}
#text span{
	color: #999;
	font-size: 20px;
	/*background: red;*/
}
#content_box{
	width: 1000px;
	height: 700px;
	/*background: yellow;*/
}
#content_box #bg{
	width: 500px;
	height: 400px;
	background: url(../images/huiyuan.jpg) no-repeat;
	margin-top: 36px;
	border: 1px solid #dedddb;
	float: left;
}
#content_box #bg a{
	text-decoration: none;
	display: block;
	width: 148px;
	line-height: 48px;
	text-align: center;
	/*background: red;*/
	font-size: 18px;
	color: #64a131;
	border: 1px solid #64a131;
	border-radius: 5px;
	position: relative;
	top:330px;
	left: 178px;
}
#content_box ul{
	list-style: none;
	width: 420px;
	height: 256px;
	/*background:yellow;*/
	float: right;
	margin-top: 110px;
}
#content_box ul li{
	width: 420px;
	height: 38px;
	line-height: 38px;
	/*background: #f45;*/
	margin-bottom: 20px;
}
#content_box ul li .input_text{
	color: #999;
	font-size: 16px;
	display: block;
	float: left;
	width: 90px;
	height: 38px;
	/*background: blue;*/
	text-align: right;
}
#content_box ul li .input_style{
	width: 299px;
	height: 40px;
	border: 1px solid #ddd;
	float: right;
	text-indent: 10px;
}
#content_box ul li .input_style .input_code{
	width: 154px;
	height: 40px;
	border: none;
	float: left;
	text-indent: 10px;
	/*background: red;*/
}
#content_box ul li .input_style #span_code {
	display: block;
	width: 115px;
	height: 40px;
	line-height: 40px;
	/*background: yellow;*/
	float: left;
}
#content_box ul li .input_style #span_code #code_img{
	display: block;
	width: 115px;
	height: 38px;
	line-height: 40px;
	border: 1px solid #fff;
	/*background: yellow;*/
	float: left;
}

#content_box ul li .input_style #refresh{
	width: 30px;
	height: 40px;
	float:right;
	/*background: red;*/
}
#content_box ul li .input_style #refresh a{
	display: block;
	width: 20px;
	height: 20px;
	float:left;
	margin-left: 10px;
	margin-top: 10px;
	/*background: purple;*/
}
#content_box ul li .input_style #refresh a img{
	display: block;
	width: 20px;
	height: 20px;
	float: left;
}
#content_box ul li  .mima{
	width: 299px;
	line-height: 38px;
	float: right;
	/*background: red;*/
	/*margin-top: 5px;*/
	margin-bottom: 2px;
}
#content_box ul li  .mima .checkbox{
	float: left;
}
#content_box ul li  .mima .mima_j{
	float: left;
}
#content_box ul li  .mima .mima_m{
	float: right;
}
#content_box ul li  .mima  a{
	color: #999;
	font-size: 16px;
}
#content_box ul li  .mima .mima_m a{
	text-decoration: underline;
}
.btn_left{
	width: 143px;
	height: 38px;
	background: #64a131;
	border:1px solid #64a131;
	border-radius: 5px;
	color: #fff;
}
.btn_right{
	width: 143px;
	height: 38px;
	background: #f5ffed;
	border:1px solid #64a131;
	border-radius: 5px;
	color: #64a131;
	float: right;
}